<tr>
  <td>
    <%= designer.score %>
  </td>

  <% form_tag :controller => "portfolio", :action => "show", :id => designer.id do %>
    <td>
      <%= image_submit_tag(designer.image_url, :class => "designer_picture") %>
    </td>
    <td>
      <%= submit_tag designer.name %>
    </td>
  <% end %>

  <td>
    <%= designer.presentation %>
  </td>
 
 
  <% if designer.id == session[:user_id] %>
    <td>
      <%= link_to "delete designer", :action => 'destroy', :id => designer.id %>
    </td>
  <% end %>
</tr>
