<div class="form">

  <%= error_messages_for 'designer' %>

  <% form_for :designer, :url => { :action => "create" } do |form| %>
      <legend> Please Enter Your Data</legends>

      <div>
        <%= form.label "Name:" %>
        <%= form.text_field :name %>
      </div>
      <div>
        <%= form.label "Phone number:" %>
        <%= form.text_field :tel %>
      </div>
      <div>
        <%= form.label "image_url:" %>
        <%= form.text_field :image_url %>
      </div>
      <div>
        <%= form.label "Presentation:" %>
        <%= form.text_area :presentation %>
      </div>
    
      <%= submit_tag "Create designer" %>
  <% end %>
</div>

<%= link_to 'Back', :action => "index" %>
