<div class="designers">
  <table>
    <th></th>
    <th>Imie</th>
    <th>Opis</th>
    <th></th>
  <% for designer in @designers %>
    <tr>
      <% form_remote_tag :url => { :controller => "portfolio", :action => 'index', :id => designer} do %>
        <td><%= image_submit_tag(designer.image_url, :class => "designer_picture") %></td>
        <td><%= submit_tag designer.name %></td>
      <% end %>

      <td><%= designer.presentation %></td>
      
      <% if designer.id == session[:user_id] %>
        <td>
          <%= link_to "delete designer", :action => 'destroy', :id => designer.id %>
        </td>
      <% end %>
    </tr>
  <% end %>
  </table>

  <% if session[:user_id].nil? %>
    <% form_remote_tag :url => { :action => 'add'} do %>
      <%= submit_tag "Create new designer" %>
    <% end %>
  <% end %>

</div>
