<ul class="rating <%= check_score %>">
	<li class="one">  <%= star_link(1, check_vote_before) %></li>
	<li class="two">  <%= star_link(2, check_vote_before) %></li>
	<li class="three"><%= star_link(3, check_vote_before) %></li>
	<li class="four"> <%= star_link(4, check_vote_before) %></li>
	<li class="five"> <%= star_link(5, check_vote_before) %></li>
</ul>
