<% form_tag projects_path, :method => 'get' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= hidden_field_tag :direction, params[:direction] %>
  <%= hidden_field_tag :order, params[:order] %>
  <%= submit_tag "Search project", :name => nil %>
<% end %>

<% unless @projects.empty? %>
  <table id="projects_table">
    <th></th>
    <th><%= project_sortable "text", "Project name" %></th>
    <th><%= project_sortable "score", "Rating" %></th>
    <th>Ilosc komentarzy:</th>

    <%= render(:partial => @projects) %>

  </table>
  <%= will_paginate @products %>

<% else %>
  <p>Didn't found any projects.</p>
<% end %>

