<h3><%= @project.text %></h3>

  <%= image_tag(@project.image_url, :class => "project_picture") %><br>
  <%= link_to "project", @project.link %><br>
  <p> Average routing is <b id="ratings_average"><%= pluralize(@project.average_rating, "star") %></b></p>


    <% if session[:user_id] %>
      <div id="ratings_form">
        <%= render(:partial => "/ratings/ratings",
                   :object => @project) %>
      </div>
    <% end %>


  <p id="comments_count"><%= pluralize(@project.comments.size, "comment")%></p>

  <table id="comment_table">
    <%= render(:partial => "/comment/comment",
               :collection => @project.comments) %>
  </table><br>

  <% if session[:user_id] %>
    <%= render(:partial => "/comment/add_comment/",
               :locals => {:id   => @project.id,
                           :type => "Project"}) %>
  <% end %>

<br>
