<% for designer in @designers %>
  <%= image_tag designer.image_url %>
  <h3><%= designer.name %></h3>
  <%= designer.presentation %>
       
  <% if designer.id == session[:user_id] %>
    <%= link_to "delete designer", :controller => "designer",
                                    :action => 'destroy',
                                    :id => designer.id %>
  <% end %>

  <br>
  <br>
  <h1>Portfolio</h1>
    
  <%= designer.portfolio.text %>

  <p>Portfolio comments: <%= designer.portfolio.comments.count%></p>

  <table class="comment_table">
  <%= render(:partial => "/comments/comment",
             :collection => designer.portfolio.comments) %>
  </table>

  <% if session[:user_id] %>
    <%= render(:partial => "/comments/add_comment/",
               :locals => {:id   => designer.portfolio.id,
                           :type => "Portfolio"}) %>
  <% end %>

  <br>
  <br>
  <h1>Projects:</h1>
    <%= render(:partial => "/project/project/",
               :collection => designer.portfolio.projects) %>
  <br>
<p>*******************************************************************************</p><br>
<% end %>
