<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
              "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" >
<html>
<head>
  <title>Designers portfolio list</title>
  <%= stylesheet_link_tag "designers" %>
</head>
<body>
  <div id="banner">
    <h1 >Designers portfolio list</h1>
  </div>


  <div id="columns">
    <div id="side">
  <% if session[:user_id].nil? %>
  
    <div class="login">
        <% form_tag :action => "login" do %>
          <legend> Please Login</legends>

            <div>
             <label>Name:</label>
             <%= text_field_tag :name, params[:name], :size => 15 %>
            </div>
            <div>
              <label>"Password</label>
              <%= password_field_tag :password, params[:password], :size => 15 %>
            </div>
        
          <%= submit_tag "Login" %>
      <% end %>
      </div>

  <% else %>

      <div class="login">
        <% form_remote_tag :url => {:controller => 'designer', :action => 'logout'} do %>
          <%= submit_tag "Logout" %>
        <% end %>
      </div>

  <% end %>
    </div>

    <div id="main">
      <p id="notice"><%= flash[:notice] %></p>
      <%= yield :layout %>
    </div>
</div>
</body>
</html>
